.nav-layout.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.nav-layout.top-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 300px;
}

.nav-layout.top-menu a {
  text-decoration: none;
  text-align: center;
  margin-bottom: .5rem;
  flex-grow: 1;
}
