.scrollBody {
  overflow-y: auto;
  margin: 0 -1rem;
  padding: 1rem;
  border-top: 1px dashed var(--white-color);
  flex-grow: 1;
}

.footer {
  padding: .5rem 1rem;
  margin: 0 -1rem -1rem -1rem;
  background: none;
  border-top: 1px dashed var(--white-color);
}

.socialLink {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  margin-right: 1rem;
}

.socialHandle {
  margin-left: .5rem;
}
