@font-face {
  font-family: 'VGA';
  src: local('VGA'), url(./resources/Perfect DOS VGA 437.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
