.dream-log-layout.page-container {
  width: 100%;
  height: 100%;
}

.dream-log-layout.table-container {
  border: 1px solid var(--white-color);
  padding: 4px;
  width: 100%;
  height: 100%;
}

table.dream-log-layout {
  width: 100%;
  height: 100%;
  border: 1px solid var(--white-color);
}

table.dream-log-layout td {
  border: 1px solid var(--white-color);
  padding: 1rem;
}

table.dream-log-layout tr:nth-child(1) td:nth-child(1) {
  width: 0;
  white-space: nowrap;
}

table.dream-log-layout .menu-group-item {
  display: block;
  margin-bottom: .25rem;
}
