.nav-layout.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-layout .left-menu {
  padding: 1rem;
}

.nav-layout .menu-group {
  padding: .5rem;
}

.nav-layout .menu-group-header {
  display: block;
  padding: .1rem;
}

.nav-layout .menu-group-item {
  padding: .1rem 2rem;
  display: block;
}

.nav-layout .page-content {
  flex-grow: 1;
}
