.nav-layout.page-container {
  height: 100vh;
}

.left-menu {
  padding: 1rem;
}

.menu-group {
  padding: .5rem;
}

.menu-group-header {
  font-weight: bold;
  display: block;
  padding: .5rem;
}

.menu-group-item {
  padding: .5rem 2rem;
  display: block;
}
